
body {
  background: url(https://download.unsplash.com/photo-1433838552652-f9a46b332c40) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-opacity: 0.5;

}



html, body {
   margin: 20px;
 }

 a:link {
   color: white; text-decoration: none;
   font-family: 'Yanone Kaffeesatz', sans-serif;
   font-size: 1.25em;
 }
 a:active {
   color: white;
   text-decoration: underline;
 }
 a:visited {
   color: white;
   text-decoration: underline;
 }
 a:hover {
   color: white; text-decoration: none;
   font-size: 1.25em;
   text-decoration: underline;
 }

 button.btn.btn-default {
    border: 1px solid #FFF;
    background: rgba(107,127,125,.25);
    text-transform: uppercase;
    color: #FFF;
    padding: 12px 40px;
 }

  button.btn.btn-default:hover {
    color: white; text-decoration: none;
    text-decoration: underline;
    background: transparent;

  }

#headerButtons ul li{
  display: inline;
  font-size: 1.25em;
  position: center;
  padding: 10px;
}

#headerButtons ul {
  padding: 0;
}

nav {
  text-align: center;
}


footer {
  clear: both;
  margin: 35px;
}

h6 {
  color: white;
  font-size: 1em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  position: inherit;
}

.containerHome{
  border: 2px solid white;
  background: rgba(107,127,125, 0.25);
  padding: 80px;
  margin-left: 120px;
  margin-right: 120px;
  text-align: center;
  font-family: 'lobster', cursive;
  font-size: x-large;
  margin-top: 120px;
  margin-bottom: 120px;
  color: white;
}

.containerAbout {
  margin-left: auto;
    margin-right: auto;
    width: 70%;
    background: rgba(107,127,125, 0.25);
    border: 2px solid white;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.25em;

}

img {
    float: right;
    border: 2px solid grey;
    border-radius: 25%;
    height: 150px;
    width: 150px;

  }

.containerOfferings {
    margin-left: auto;
      margin-right: auto;
      width: 70%;
      background: rgba(107,127,125, 0.25);
      border: 2px solid white;
      padding: 10px;
      margin-top: auto;
      margin-bottom: auto;
      color: white;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 1.25em;

}


.containerContactme {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  background: rgba(107,127,125, 0.25);
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.25em;
  border: 2px solid white;
}


.containerContactme p {
  margin: 10px;
  color: white;

}

textarea {
    height: 20vh;
    background-color: rgba(107,127,125, 0.25);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.25em;
    color: white;
    margin: 5px;
    text-align: center;
    width: 60%;


  }

input {
    background-color: rgba(107,127,125, 0.25);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.25em;
    color: white;
    margin: 5px;
    text-align: center;
    width: 60%;
    border: 1px solid #FFF;
  }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
   color: white;
}

input:-moz-placeholder { /* Firefox 18- */
   color: white;
}

input::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

input:-ms-input-placeholder {
   color: white;
}
button{
  margin: 10px;

}

.centerText {
  text-align: left;
  margin-left: 30px;
  font-size: 1.25em;
}

.centerText ul {
  padding: 0px;
}

.centerText li {
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;
}

.containerProjects {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background: rgba(107,127,125, 0.25);
    border: 2px solid white;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.25em;
}

.resume iframe {
  margin-left: 255px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.mobileResume {
  display: none;
}

@media  (max-width: 740px)  {
  .containerHome {
    margin:0
  }

  .containerAbout, .containerProjects, .containerOfferings .containerContactme {
   width: 95%;
   padding: 2.5%;
   font-size: 1.7em;
  }

  .headShot img {
    width: 50% !important;
    height: 50% !important;
    margin: 0 0 10px 10px;
  }

  .centerText ul li {
    margin-left: 0px;
    display: list-item;
  }

  .containerProjects ul li {
    list-style: none;

  }
    .containerProjects ul {
      padding: 0px;
    }

  .resume {
    display: none;
  }

  .mobileResume {
    display: block;
    margin: 0px auto;
  }

  .mobileResume a {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    width: 100%;
    display: block;
  }
}

/* #header{
  background: url(https://download.unsplash.com/photo-1433838552652-f9a46b332c40) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-opacity: 0.5;
  height: 400px;
} */
