<div class="containerAbout">
  <div class="headShot">
    <img src="https://media.licdn.com/media/p/5/005/09b/186/151f42b.jpg" alt="HeadShot" style="width:250px;height:250px">
  </div>

<p>
  Currently, I am working at Cintryx, Inc. as a junior developer. I am currently on a
  small team that is updating and maintaine legacy code, while we work on redeveloping their
  applicaiton into a more modern stack.
</p>
<div class="centerText">
  <p>Job Highlights:
    <ul>
      <li>Postgres</li>
      <li>Javascript</li>
      <li>Ruby on Rails</li>
      <li>AngularJS</li>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>Caspio</li>
      <li>WordPress</li>
    </ul>
  </p>

</div>

<p>At gSchool, I have spent every weekday learning
  something new about how to code and create responsive websites; and
  I have never felt more at home while being challenged.
  It certainly has been one of the best decisions I have ever made!
</p>

<div class="centerText">
  <p>Areas of focus in gSchool:
    <ul>
      <li>Ruby on Rails</li>
      <li>AngularJS</li>
      <li>Ember-CLI</li>
      <li>Javascript</li>
      <li>TDD in Rails</li>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>API's</li>
      <li>Postgresql</li>
    </ul>
  </p>
</div>

<p>
As a New Jersey native, I thrive in fast-paced environments. I like to work hard, and play hard.
When I am not working away at my computer, I like to learn new pieces of music, hike, read, and cook.

</p>
</div>


{{outlet}}
