<div class="containerAbout">
  <div class="headShot">
    <img src="https://media.licdn.com/media/p/5/005/09b/186/151f42b.jpg" alt="HeadShot" style="width:250px;height:250px">
  </div>

<p>For the past few months I have spent every weekday, at gSchool, learning
  something new about how to code and create responsive websites; and
  I have never felt more at home while being challenged.
  It certainly has been one of the best decisions I have ever made!
</p>

<div class="centerText">
  <p>Areas of focus in gSchool:
    <ul>
      <li>Ruby on Rails</li>
      <li>Ember-CLI</li>
      <li>Javascript</li>
      <li>TDD in Rails</li>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>API's</li>
      <li>Postgresql</li>
    </ul>
  </p>
</div>

<p>
As a New Jersey native, I thrive in fast-paced environments. I like to work hard, and play hard.
When I am not working away at my computer, I like to learn new pieces of music, hike, read, and cook.

</p>
</div>


{{outlet}}
