<div class="containerAbout">
  <div class="headShot">
    <img src="https://media.licdn.com/media/p/5/005/09b/186/151f42b.jpg" alt="HeadShot" style="width:304px;height:228px">
  </div>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus gravida mauris in blandit.
 Sed tincidunt congue ex, in malesuada lorem auctor at. Sed consectetur porttitor aliquet.
 Phasellus nec pretium leo, sit amet pulvinar erat. Fusce euismod lectus nunc,
 condimentum placerat risus vestibulum pretium. Suspendisse posuere viverra ante in rutrum.
 Nunc lacinia ligula sagittis, pellentesque dolor sed, scelerisque elit.

Mauris nec tincidunt quam. Mauris ac justo molestie, pellentesque nisi sit amet,
pharetra turpis. Nunc id metus ligula. Vivamus accumsan, leo sed venenatis porttitor, elit diam scelerisque orci,
quis vulputate purus libero vel tellus. Mauris lacus enim, elementum vel hendrerit sed, auctor sed ex.
Aenean lobortis sit amet ex sit amet viverra. Curabitur venenatis ipsum vel congue feugiat.
Fusce ultricies vulputate pharetra. Praesent tempus odio ut pellentesque malesuada.
Phasellus feugiat ac lorem nec hendrerit. Nam sed faucibus purus. In nec ante neque.
Nam et est ac urna placerat convallis in sed neque.

Integer augue tortor, accumsan id dignissim in, congue ultricies leo.
Praesent malesuada sem et orci accumsan semper. Aenean quis lectus erat.
Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
Praesent vel dolor nec libero vehicula egestas. Nullam eleifend sollicitudin libero nec feugiat.
Sed ex dolor, efficitur et imperdiet vitae, ullamcorper quis tellus. Integer quis commodo elit.
Proin mollis vitae mi vitae porttitor.

Duis id elit in nibh vulputate varius. Suspendisse felis tellus, elementum fermentum velit non,
maximus elementum lacus. Nulla nec tellus non felis maximus varius ut a arcu. Nam pretium posuere elit mollis tempor.
 Suspendisse volutpat, enim et laoreet fermentum, massa odio porta nunc, tincidunt fringilla augue dui nec enim.
 Nunc scelerisque dui leo, eu dictum nunc tristique in. Aenean eget justo lacus. Vestibulum dignissim est quis nisl sollicitudin,
  a tristique arcu placerat. Nullam sodales molestie hendrerit. Ut ante mi, pellentesque ac pharetra quis, sodales eu nunc.
Curabitur scelerisque fringilla diam vel molestie. Curabitur placerat ante non urna pretium ultricies. Vestibulum ornare lacus ac diam vehicula,
 sit amet consequat est elementum. Nam porta malesuada dui, id faucibus ante sodales id.

Nam vel quam mollis, consectetur ex a, mollis sapien. Nam quis lobortis nisi. Nam id sagittis elit.
Maecenas in dui in arcu porttitor ornare sit amet vel enim. In malesuada vel purus in condimentum. Suspendisse tristique fringilla augue. Ut id nisl iaculis, facilisis dolor vitae, vestibulum ante. Aliquam erat volutpat.
</p>
</div>


{{outlet}}
