

<header id="header">
  <nav>
    <div id="headerButtons">
    <ul>
      <li class>{{#link-to 'home'}}Home{{/link-to}}</li>
      <li class>{{#link-to 'about'}}About{{/link-to}}</li>
      <li class>{{#link-to 'projects'}}+Projects{{/link-to}}</li>
      <li class>{{#link-to 'offerings'}}+Offerings{{/link-to}}</li>
      <li class>{{#link-to 'formalres'}}Formal Resume{{/link-to}}</li>
      <li class>{{#link-to 'message'}}Contact me{{/link-to}}</li>
    </ul>
  </div>
</nav>

</header>



{{outlet}}


<footer id="footer">
  <footer>
  <hr>
  <h6 class="text-center">
    <span><a href="https://www.facebook.com/denise.mccoy.98478"><i class="fa fa-facebook-official"></i></a>
      <a href="https://twitter.com/redrayofsun"><i class="fa fa-twitter"></i></a>
      <a href="https://denisebehindthescreen.wordpress.com/"><i class="fa fa-wordpress"></i></a>
      <a href="https://linkedin.com/in/denisemccoy13/en"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/LittleLadySunshine"><i class="fa fa-github"></i></a>
    </span></h6>

  </footer>

</footer>
