<div class="resume">
  <iframe src="https://resume.creddle.io/embed/hwvvsm51w06"
    width="850" height="1100" seamless></iframe>
</div>

<div class="mobileResume">
  <a href="https://resume.creddle.io/resume/hwvvsm51w06">Download my Resume to Mobile!</a>
</div>
