<div class="containerOfferings">
  <p>

   What are you looking to do after graduation?

   I am looking forward to working for a company where I can use my skill set to make a difference.
   I want to contribute to a team, and be happy knowing that my work has contributed towards an end product
   that is useful for others. I learn quickly, and can transfer my knowledge and experiences into
   what's useful for the given moment.</p>

   <p>
     I'd like to work on a team or pair program, and I am looking for a company with a strong
     mentorship program. I believe in life-long learning, so I'd love to work for a company who believes in the same.
     I am looking to stay in the Boulder/Denver area, and I am available for
     immediate hire.
   </p>


</div>

{{outlet}}
