<div class="containerProjects">
  <p> While in gSchool, I've been busy producing many class projects and working on
    real client projects.</p>

  <p> Here are some highlights!</p>
    <ul>
      <li><strong>InkstaGram:</strong> This application is a project I am working on with a small team that is currently seeking funding for future
      development. It uses an Angular front-end and a Rails back-end. The mobile version is built using an Ionic Framework. Selenium is used for testing. </li>
      <br>
      <br>
      <li><strong><a href= "http://radiant-brook-3224.herokuapp.com/6">Nature Play:</a></strong> This app is an app requested by the City of Boulder - Department of Parks and
      Recreation. In this app, Ember is used on the front-end in tandem with Google Maps to allow the user to have
      an interactive experience with the information that is pulled from the Rails database.
      <i class="fa fa-github"></i></li>
      <br>
      <br>
      <li><strong><a href= "https://denise-mccoy-resume.herokuapp.com/">Personal Resume Website: </a></strong>
      This app is built with an Ember front-end and a Rails back-end.
      Through-out the website are links to production sites and heroku that showcase personal projects created throughout Denise's time at gSchool.
      This website uses SendGrid's services to send an email to users who fill out the contact response form.
      <a href="https://github.com/LittleLadySunshine/resumeWorking"><i class="fa fa-github"></i></a></li>
        <br>
        <br>
      <li><strong><a href= "https://nameless-depths-9376.herokuapp.com/">gCamp: </a></strong> This app is built solely in Rails. End users can create
      an account, and keep track of projects, users, and tasks. It's fully functional as a CRUD app
      where users can create, destroy and edit information. Users are also restricted to certain functionality
      depending upon the permissions granted by the administrator.
      <a href="https://github.com/LittleLadySunshine/gCamp"><i class="fa fa-github"></i></a></li>
        <br>
        <br>
      <li>
        <strong>DigiDi:</strong> This app is a full-stack application with the front built in Ember-cli
      and the back built with Rails. Using a RESTAPI, tweets are pulled in to create a digital view of the
      blogger.
      <a href="https://github.com/LittleLadySunshine/blogexercise"><i class="fa fa-github"></i></a></li>

    </ul>

</div>
